.CommandHistory {
    position: absolute;
    top: 10px;
    left: 1110px;
  
    box-sizing: border-box;
    border: 1px solid black;
    border-left-width: 0px;
    background-color: white;
  
    width: 150px;
    height: 700px;
  }
  
  .UndoableCommand {
    background-color: lightgray;
    margin-top:5px;
    margin-bottom:5px;
  }
  
  .RedoableCommand {
    background-color: gray;
    color: rgb(73, 71, 71);
    margin-top:5px;
    margin-bottom:5px;
    text-decoration: line-through;
  }
  
  .ExecutedCommand {
    color: rgb(0, 255, 0);
    background-color: rgb(36, 36, 36);
    margin-top:5px;
    margin-bottom:5px;
  }